.label {
	padding: 10px 0;
}

.text {
	margin-right: 10px;
}

.input {
	font-size: inherit;
	padding: 5px 10px;
	border: 2px solid #ececec;
	border-radius: 8px;
}

.input:invalid {
	border-color: #ff5151;
}
